<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="frequencyColumns">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="annual_precipitation"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="1"/>
                    <entry key="0" type="xstring" value="annual_precipitation"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="113"/>
                    <entry key="0" type="xstring" value="pH_soil"/>
                    <entry key="1" type="xstring" value="nitrogen_content"/>
                    <entry key="2" type="xstring" value="phosphorus_content"/>
                    <entry key="3" type="xstring" value="potassium_content"/>
                    <entry key="4" type="xstring" value="organic_matter"/>
                    <entry key="5" type="xstring" value="water_retention"/>
                    <entry key="6" type="xstring" value="soil_depth"/>
                    <entry key="7" type="xstring" value="average_daily_temp"/>
                    <entry key="8" type="xstring" value="hours_of_sunlight"/>
                    <entry key="9" type="xstring" value="frost_days_per_year"/>
                    <entry key="10" type="xstring" value="fertilizer_amount"/>
                    <entry key="11" type="xstring" value="pesticide_amount"/>
                    <entry key="12" type="xstring" value="irrigation_frequency"/>
                    <entry key="13" type="xstring" value="planting_density"/>
                    <entry key="14" type="xstring" value="planting_date"/>
                    <entry key="15" type="xstring" value="harvest_date"/>
                    <entry key="16" type="xstring" value="days_to_germination"/>
                    <entry key="17" type="xstring" value="days_to_maturity"/>
                    <entry key="18" type="xstring" value="disease_resistance"/>
                    <entry key="19" type="xstring" value="growth_rate"/>
                    <entry key="20" type="xstring" value="altitude"/>
                    <entry key="21" type="xstring" value="slope"/>
                    <entry key="22" type="xstring" value="crop_rotation_period"/>
                    <entry key="23" type="xstring" value="weed_density"/>
                    <entry key="24" type="xstring" value="microbial_activity"/>
                    <entry key="25" type="xstring" value="soil_salinity"/>
                    <entry key="26" type="xstring" value="wind_speed_average"/>
                    <entry key="27" type="xstring" value="wind_gusts_max"/>
                    <entry key="28" type="xstring" value="humidity_avg"/>
                    <entry key="29" type="xstring" value="leaf_wetness"/>
                    <entry key="30" type="xstring" value="soil_temperature_avg"/>
                    <entry key="31" type="xstring" value="solar_radiation"/>
                    <entry key="32" type="xstring" value="UV_index_avg"/>
                    <entry key="33" type="xstring" value="field_capacity"/>
                    <entry key="34" type="xstring" value="soil_porosity"/>
                    <entry key="35" type="xstring" value="plant_height_avg"/>
                    <entry key="36" type="xstring" value="root_depth_max"/>
                    <entry key="37" type="xstring" value="biomass_above_ground"/>
                    <entry key="38" type="xstring" value="biomass_below_ground"/>
                    <entry key="39" type="xstring" value="leaf_area_index"/>
                    <entry key="40" type="xstring" value="chlorophyll_content"/>
                    <entry key="41" type="xstring" value="stomatal_conductance"/>
                    <entry key="42" type="xstring" value="nitrate_levels"/>
                    <entry key="43" type="xstring" value="pest_resistance_level"/>
                    <entry key="44" type="xstring" value="yield_previous_year"/>
                    <entry key="45" type="xstring" value="market_price_last_year"/>
                    <entry key="46" type="xstring" value="distance_to_market"/>
                    <entry key="47" type="xstring" value="farm_management_practice_score"/>
                    <entry key="48" type="xstring" value="seed_viability"/>
                    <entry key="49" type="xstring" value="insect_infestation_level"/>
                    <entry key="50" type="xstring" value="herbicide_resistance_level"/>
                    <entry key="51" type="xstring" value="fungicide_application_rate"/>
                    <entry key="52" type="xstring" value="machinery_age"/>
                    <entry key="53" type="xstring" value="fuel_consumption_per_hectare"/>
                    <entry key="54" type="xstring" value="labor_hours_per_hectare"/>
                    <entry key="55" type="xstring" value="credit_rating_of_farm"/>
                    <entry key="56" type="xstring" value="crop_type_canola"/>
                    <entry key="57" type="xstring" value="crop_type_corn"/>
                    <entry key="58" type="xstring" value="crop_type_cotton"/>
                    <entry key="59" type="xstring" value="crop_type_oats"/>
                    <entry key="60" type="xstring" value="crop_type_peanuts"/>
                    <entry key="61" type="xstring" value="crop_type_rice"/>
                    <entry key="62" type="xstring" value="crop_type_soy"/>
                    <entry key="63" type="xstring" value="crop_type_wheat"/>
                    <entry key="64" type="xstring" value="soil_type_clay"/>
                    <entry key="65" type="xstring" value="soil_type_loam"/>
                    <entry key="66" type="xstring" value="soil_type_peat"/>
                    <entry key="67" type="xstring" value="soil_type_sand"/>
                    <entry key="68" type="xstring" value="soil_type_silt"/>
                    <entry key="69" type="xstring" value="irrigation_type_flood"/>
                    <entry key="70" type="xstring" value="irrigation_type_furrow"/>
                    <entry key="71" type="xstring" value="irrigation_type_none"/>
                    <entry key="72" type="xstring" value="irrigation_type_sprinkler"/>
                    <entry key="73" type="xstring" value="seed_type_conventional"/>
                    <entry key="74" type="xstring" value="seed_type_heirloom"/>
                    <entry key="75" type="xstring" value="seed_type_hybrid"/>
                    <entry key="76" type="xstring" value="tillage_practice_minimal"/>
                    <entry key="77" type="xstring" value="tillage_practice_no-till"/>
                    <entry key="78" type="xstring" value="tillage_practice_strip-till"/>
                    <entry key="79" type="xstring" value="agricultural_region_east"/>
                    <entry key="80" type="xstring" value="agricultural_region_north"/>
                    <entry key="81" type="xstring" value="agricultural_region_south"/>
                    <entry key="82" type="xstring" value="agricultural_region_west"/>
                    <entry key="83" type="xstring" value="pesticide_type_fungicide"/>
                    <entry key="84" type="xstring" value="pesticide_type_herbicide"/>
                    <entry key="85" type="xstring" value="pesticide_type_insecticide"/>
                    <entry key="86" type="xstring" value="fertilizer_type_organic"/>
                    <entry key="87" type="xstring" value="fertilizer_type_slow-release"/>
                    <entry key="88" type="xstring" value="fertilizer_type_synthetic"/>
                    <entry key="89" type="xstring" value="crop_rotation_type_polyculture"/>
                    <entry key="90" type="xstring" value="crop_rotation_type_rotational"/>
                    <entry key="91" type="xstring" value="market_type_local"/>
                    <entry key="92" type="xstring" value="market_type_national"/>
                    <entry key="93" type="xstring" value="weather_station_proximity_far"/>
                    <entry key="94" type="xstring" value="weather_station_proximity_medium"/>
                    <entry key="95" type="xstring" value="subsidy_eligibility_ineligible"/>
                    <entry key="96" type="xstring" value="organic_certification_not_certified"/>
                    <entry key="97" type="xstring" value="water_source_type_municipal"/>
                    <entry key="98" type="xstring" value="water_source_type_pond"/>
                    <entry key="99" type="xstring" value="water_source_type_river"/>
                    <entry key="100" type="xstring" value="water_source_type_well"/>
                    <entry key="101" type="xstring" value="land_ownership_mortgaged"/>
                    <entry key="102" type="xstring" value="land_ownership_owned"/>
                    <entry key="103" type="xstring" value="farm_size_category_medium"/>
                    <entry key="104" type="xstring" value="farm_size_category_small"/>
                    <entry key="105" type="xstring" value="disease_management_program_chemical"/>
                    <entry key="106" type="xstring" value="disease_management_program_integrated"/>
                    <entry key="107" type="xstring" value="disease_management_program_none"/>
                    <entry key="108" type="xstring" value="labor_force_type_hired"/>
                    <entry key="109" type="xstring" value="labor_force_type_mixed"/>
                    <entry key="110" type="xstring" value="farm_location_type_suburban"/>
                    <entry key="111" type="xstring" value="farm_location_type_urban"/>
                    <entry key="112" type="xstring" value="yield_per_hectare"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <config key="categoryColumn">
            <entry key="selected" type="xstring" value="&lt;none&gt;"/>
            <config key="compatibleTypes_Internals"/>
        </config>
        <entry key="generateImage" type="xboolean" value="false"/>
        <entry key="width" type="xint" value="800"/>
        <entry key="height" type="xint" value="600"/>
    </config>
    <config key="view">
        <entry key="title" type="xstring" value="Box Plot"/>
        <entry key="axisExtentMethod" type="xstring" value="AUTO"/>
        <config key="manualAxisLimits">
            <entry key="min" type="xdouble" value="0.0"/>
            <entry key="max" type="xdouble" value="100.0"/>
        </config>
        <entry key="xAxisLabel" type="xstring" value="Dimension"/>
        <entry key="yAxisLabel" type="xstring" value="Value"/>
        <entry key="showLegend" type="xboolean" value="true"/>
        <entry key="allowImageDownload" type="xboolean" value="true"/>
        <entry key="showTooltip" type="xboolean" value="true"/>
        <entry key="enableAnimation" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.views.node.boxplot.BoxPlotNodeFactory"/>
    <entry key="node-name" type="xstring" value="Box Plot"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Views"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.views"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.2.2.v202403061155"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.2.2.v202403061155"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="Input Table"/>
        <config key="Output Image"/>
    </config>
    <entry key="name" type="xstring" value="Box Plot"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_0"/>
            </config>
            <config key="object_1">
                <entry key="index" type="xint" value="1"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_1"/>
            </config>
            <config key="object_2">
                <entry key="index" type="xint" value="2"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_2"/>
            </config>
            <config key="object_3">
                <entry key="index" type="xint" value="3"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_3"/>
            </config>
            <config key="object_4">
                <entry key="index" type="xint" value="4"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_4"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="f11cfae8-9470-4c0d-82d4-67943ff34b68"/>
    </config>
</config>
